auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

common:
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

schema_config:
  configs: 
    - from: 2023-01-01
      store:  boltdb-shipper
      object_store: filesystem
      schema: v11
      index: 
        prefix: index_
        period: 24h

limits_config:
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  ingestion_rate_mb:  10
  ingestion_burst_size_mb: 20
  max_query_length: 721h
  max_query_parallelism: 32

query_range:
  results_cache: 
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 100

ruler:
  alertmanager_url: http://localhost:9093

analytics:
  reporting_enabled: false